{% extends "base.html" %}

{% block content %}
<div style="margin-left: 10px;">
    <h1>Your Basket</h1>

    {% if selected_cheeses %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for cheese in selected_cheeses %}
                    <tr>
                        <td>{{ cheese.name }}</td>
                        <td>£{{ cheese.price }}/kg</td>
                        <td>{{ cheese.quantity }}kg</td>
                        <td>
                            <form method="post"
                                  action="{{ url_for('remove_from_basket', cheese_id=cheese.id) }}">
                              {{ remove_form.hidden_tag() }}
                              {{ remove_form.submit(class="btn btn-sm btn-danger") }}
                            </form>
                          </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="margin-top: 20px;">
            <h4>Total Cost: £{{ total_price }}</h4>
            <h4>Total Carbon Impact: {{ total_impact }}kg</h4>
        </div>
    
        <div>
            <a href="{{ url_for('paymentPage') }}">Proceed to payment</a>
        </div>
    {% else %}
        <p>Your basket is empty.</p>
    {% endif %}

</div>
{% endblock %}